*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col{
    background-color: gray;
    border: 1px solid  black;
}
.block{
    background-color: gray;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    height: 100%;

}
.header{
    height: 80px;
    margin: 0px 0 150px 0;
    padding: 20px 0;
    text-transform: uppercase;
}

.block a{
    text-decoration: none;
    color:black;
    font-size: 20px;

}
.block__list{
    list-style: none;
    display: inline-flex;
  
}
.block__list li {
    margin: 0 10px 0 0;
    
}

.block__list a {
    text-decoration: none;
    font-size: 18px;
}
.main {
    min-height: 460px;
    margin: 0 0 100px 0;
    
}


.client{
    height: 80px;
    margin: 0 0 180px 0;

}
.price{
    height: 400px;
    margin: 0 0 100px 0;
}
.team{
    height: 320px;
    margin:0 0 100px 0;
}
footer{
    height: 280px;

}
